<div class="container" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
  <div fxLayout="column" fxLayoutGap="10px" fxFlex="40">
    <label>
      <h3>Paper</h3>
    </label>
    <mat-form-field fxFlex="40">
      <textarea #paperTextarea matInput placeholder="Paper" readonly rows="15"
        (mouseup)="setSelectionRange(paperTextarea)"></textarea>
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutGap="10px" fxFlex="10">
    <label>
      <h3>Selection</h3>
    </label>
    <mat-form-field>
      <input matInput placeholder="Start" [value]="selectionStart" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="End" [value]="selectionEnd" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Length" [value]="selectionLength" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Text" [value]="selectedText" readonly>
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutGap="10px" fxFlex="10">
    <label>
      <h3>Pencil</h3>
    </label>
    <mat-form-field>
      <input matInput placeholder="Current Durability" [value]="pencilCurrentDurability" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Max Durability" [value]="pencilMaxDurability" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Current Length" [value]="pencilCurrentLength" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Max Length" [value]="pencilMaxLength" readonly>
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutGap="10px" fxFlex="10">
    <label>
      <h3>Eraser</h3>
    </label>
    <mat-form-field>
      <input matInput placeholder="Current Durability" [value]="eraserCurrentDurability" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="max Durability" [value]="eraserMaxDurability" readonly>
    </mat-form-field>
  </div>

</div>
<mat-divider></mat-divider>
